{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block title %}

{% if page.title %}
{{ page.title }}
{% elif tag %}
Tag: {{ tag }}
{% endif %}

{% endblock title %}


{% block content %}
<!-- Block content -->

<section class="site-section py-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-4">Latest Posts</h2>
            </div>
        </div>
        <div class="row blog-entries">
            <div class="col-md-12 col-lg-8 main-content">
                <div class="row">

                    {% for blog in posts %}
                    {% with blog=blog.specific %}

                    <div class="col-md-6">
                        <a href="{{ blog.slug }}" class="blog-entry element-animate" data-animate-effect="fadeIn">
                            {# image for blog post #}
                            {% image blog.blog_image original as thumbnail %}
                            <img src="{{ thumbnail.url }}" alt="{{ thumbnail.alt }}">
                            <div class="blog-content-body">
                                <div class="post-meta">
                                    <span class="author mr-2">
                                        {# image for author #}
                                        {% image blog.author.image original as author_image %}
                                        <img src="{{ author_image.url }}" alt="{{ author_image.alt }}">
                                        {{ blog.author }}</span>&bullet;
                                    <span class="mr-2">{{ blog.first_published_at|date:"j F Y" }} </span> &bullet;
                                    <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                                </div>
                                <h2>{{ blog.title|title }}</h2>
                            </div>
                        </a>
                    </div>

                    {% endwith %}
                    {% endfor %}

                </div>

                <div class="row mt-5">
                    <div class="col-md-12 text-center">
                        <nav aria-label="Page navigation" class="text-center">
                            <ul class="pagination">
                                <li class="page-item  active"><a class="page-link" href="#">&lt;</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item"><a class="page-link" href="#">&gt;</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>

            <!-- END main-content -->

            {% include 'includes/sidebar.html' %}
            <!-- END sidebar -->

        </div>
    </div>
</section>

<!-- Endblock content -->
{% endblock content %}