{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block title %}

{% if page.title %}
{{ page.title }}
{% elif tag %}
Tag: {{ tag }}
{% endif %}

{% endblock title %}


{% block content %}
<!-- Block content -->

<section class="site-section pt-5">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-6">
        {% if tag %}
        <h2 class="mb-4">Tag: {{ tag }}</h2>
        {% else %}
        <h2 class="mb-4">Category: {{ page.title }}</h2>
        {% endif %}
      </div>
    </div>
    <div class="row blog-entries">
      <div class="col-md-12 col-lg-8 main-content">
        <div class="row mb-5 mt-5">

          <div class="col-md-12">
            {% for blog in posts|slice:"5" %}
            {% with blog=blog.specific %}

            <div class="post-entry-horzontal">
              <a href="{{ blog.url }}">
                {% image blog.blog_image original as blog_image%}
                <div class="image element-animate" data-animate-effect="fadeIn"
                  style="background-image: url({{ blog_image.url }});"></div>
                <span class="text">
                  <div class="post-meta">
                    <span class="author mr-2">
                      {% image blog.author.image original as thumbnail%}
                      <img src="{{ thumbnail.url }}" alt="{{ thumbnail.alt }}"> {{ blog.author }}</span>&bullet;
                    <span class="mr-2">{{ blog.first_published_at|date:"j F Y" }} </span> &bullet;
                    <span class="mr-2">{{ blog.category }}</span> &bullet;
                    <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                  </div>
                  <h2>{{ blog.title }}</h2>
                </span>
              </a>
            </div>
            <!-- END post -->

            {% endwith %}
            {% endfor %}

          </div>
        </div>

        <div class="row mt-5">
          <div class="col-md-12 text-center">
            {% if posts.paginator.num_pages > 1 %}

            <nav aria-label="Page navigation" class="text-center">
              <ul class="pagination">
                {% if posts.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {% endif %}

                <!-- pagination number -->
                {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}
                <li class="page-item active" aria-current="page">
                  <span class="page-link">
                    {{ i }}
                    <span class="sr-only">(current)</span>
                  </span>
                </li>
                {% elif i > posts.number|add:'-2' and i < posts.number|add:'2' %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                <!-- pagination number -->

                {% if posts.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </nav>
            {% endif %}

          </div>
        </div>



      </div>

      <!-- END main-content -->

      {% include 'includes/sidebar.html' %}
      <!-- END sidebar -->

    </div>
  </div>
</section>

<!-- Endblock content -->
{% endblock content %}