{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-postpage{% endblock %}

{% block title %}

{{ page.title|title }}

{% endblock title %}

{% block content %}

<!-- Main Content-->
<div class="container px-4 px-lg-5">

    <button type="button" class="btn btn-outline-dark btn-floating btn-md" id="btn-back-to-top">
        <i class="fas fa-arrow-up"></i>
    </button>

    <header class="masthead">
        <div class="container position-relative">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>{{ page.title|title }}</h1>
                        <hr>
                        <span class="meta">
                            {{ page.first_published_at|date:"j F Y" }}
                        </span>

                        <span class="meta mt-2">
                            Category :
                            {% for cate in page.categories.all %}
                            <a href="/c/{{ cate.slug }}" style="text-decoration: none;">
                                <span class="badge rounded-pill bg-secondary">
                                    <i class="fas fa-folder"></i> {{ cate.title }}
                                </span>
                            </a>
                            {% endfor %}
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content-->
    <article class="mb-4">
        <div class="container">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                    {% with blocks=page.body %}
                    {% for block in blocks %}
                    <section class="block-{{ block.block_type }}">
                        {{ block }}
                    </section>
                    {% endfor %}
                    {% endwith %}

                    {% if page.get_tags %}
                    <p class="text-secondary">Tags :
                        {% for tag in page.get_tags %}
                        <a href="{{ tag.get_site.root_url }}{{ tag.url }}" style="text-decoration:none;">
                            <span class="badge rounded-pill bg-secondary">
                                #{{ tag }}
                            </span>
                        </a>
                        {% endfor %}
                    </p>
                    {% endif %}

                    <hr>

                    <!-- Related Posts -->
                    <h2>Related Post</h2>
                    <ul class="fa-ul mb-2">
                        {% for related in related_posts %}
                        {% with related=related.specific %}
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            <a href="{{ related.url }}" style="text-decoration: none;">
                                {{ related.title }}
                            </a>
                        </li>
                        {% endwith %}
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </article>

</div>
<!-- End Content -->

{% endblock %}