{% load static wagtailcore_tags wagtailimages_tags %}

<div class="col-md-12 col-lg-4 sidebar">
  <div class="sidebar-box search-form-wrap">
    <form action="#" class="search-form">
      <div class="form-group">
        <span class="icon fa fa-search"></span>
        <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
      </div>
    </form>
  </div>
  <!-- END sidebar-box -->

  {% if page.author %}
  <div class="sidebar-box">
    <div class="bio text-center">

      {% image page.author.image original as author_image %}
      <img src="{{ author_image.url }}" alt="{{ author_image.alt }}" class="img-fluid">
      <div class="bio-body">
        <h2>{{ page.author }}</h2>
        <p>{{ page.author.intro }}</p>
        <p><a href="/about/" class="btn btn-primary btn-sm rounded">Read my bio</a></p>
      </div>
    </div>
  </div>

  {% else %}

  {% endif %}
  <!-- END sidebar-box -->

  <div class="sidebar-box">
    <h3 class="heading">Categories</h3>
    <ul class="categories">
      {% for category in categories %}
      <li>
        <a href="/category/{{ category.slug }}" class="text-secondary">
          <i class="fa fa-folder"></i> {{ category.title }} <span>({{ category.posts_count }})</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <!-- END sidebar-box -->

  <div class="sidebar-box">
    <h3 class="heading">Tags</h3>
    <ul class="tags">

      {# untuk global #}
      {% if page.get_child_tags %}
        {% for tag in page.get_child_tags %}
          <li><a href="{{ tag.url }}">#{{ tag }}</a></li>
        {% endfor %}

      {% else %}

        {# untuk blog post #}
        {% for tag in all_tags %}
          <li><a href="/tag/{{ tag.slug }}">#{{ tag }}</a></li>
        {% endfor %}

      {% endif %}
    </ul>
  </div>
</div>
<!-- END sidebar -->